<div class="company-wrap">
  <div class="page-title">
    <span>Company list and status</span>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="flx-row info-row">
        <div class="col-md-1">Id</div>
        <div class="col-md-3">Name</div>
        <div class="col-md-2">Location</div>
        <div class="col-md-1">Eligibility</div>
        <div class="col-md-2 pl20">Interest</div>
        <div class="col-md-3">Status</div>
      </div>
      <div class="flx-row info-row" *ngFor="let company of student.companies">
        <div class="col-md-1">{{company.id}}</div>
        <div class="col-md-3">{{company.name}}</div>
        <div class="col-md-2">{{company.location}}</div>
        <div class="col-md-1">{{company.eligibility}}</div>
        <div class="col-md-2">
          <div class="btn-group btn-group-toggle" [ngClass]="{'disable' : company.status || isAdmin}">
            <label class="btn btn-secondary" [ngClass]="{'active': company.applied}">
              <input type="radio" [(ngModel)]="company.applied" [value]="true" name="applied"> Apply
            </label>
            <label class="btn btn-secondary" [ngClass]="{'active': !company.applied}">
              <input type="radio" [(ngModel)]="company.applied" [value]="false" name="applied"> No
            </label>
          </div>
        </div>
        <div class="col-md-3 capitalize" *ngIf="!isAdmin">{{company.status}}</div>
        <div class="col-md-3" *ngIf="isAdmin && company.applied">
          <select [(ngModel)]="company.status" class="form-control">
            <option [value]="'pending'">Pending</option>
            <option [value]="'approved'">Approved</option>
            <option [value]="'rejected'">Rejected</option>
          </select>
        </div>
      </div>
      <div class="row flx-jce">
        <div class="col-md-6">
          <button class="btn btn-primary btn-sm btn-block" (click)="onSubmit()">Submit</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="isAdmin">
        <div class="form-group flx-row">
          <label class="col-sm-2 col-form-label">Name :</label>
          <div class="col-sm-10">
            {{studentData.name}}
          </div>
        </div>
        <div class="form-group flx-row">
          <label class="col-sm-2 col-form-label">Gender :</label>
          <div class="col-sm-10">
            {{studentData.gender}}
          </div>
        </div>
        <div class="form-group flx-row">
          <label class="col-sm-2 col-form-label">Email :</label>
          <div class="col-sm-10">
            {{studentData.email}}
          </div>
        </div>
        <div class="form-group flx-row">
          <label class="col-sm-2 col-form-label">Mobile :</label>
          <div class="col-sm-10">
            {{studentData.mobile}}
          </div>
        </div>
      </div>
      <div *ngIf="!isAdmin">
        <app-chart></app-chart>
      </div>
    </div>
  </div>
</div>