<div class="app-container">
  <div>
    <div class="header-wrap flx-row flx-jsb">
      <div class="flx-row">
        <button (click)="isExpand = !isExpand" [ngClass]="{'active': isExpand}" *ngIf="!isLogin">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="app-title f20 pointer" (click)="goHome()">Demo CRUD Operations</div>
      </div>
      <div class="flx-row">
        <div *ngIf="!user">Welcome Guest</div>
        <div *ngIf="user">Welcome {{user.name}}</div>
        <div class="icon-nav icon-logout pointer" (click)="onLogout()" *ngIf="!isLogin"></div>
      </div>
    </div>
    <div class="view-wrap" [ngClass]="{'nav-expand': isExpand, 'not-login': isLogin}">
      <div class="left-navigation flx-column" [ngClass]="{'nav-expand': isExpand}" *ngIf="!isLogin">
        <div class="nav-list flx-row pointer" *ngIf="isAdmin" [ngClass]="{'active': routeName === 'users-list'}" (click)="navigateTo('/users-list')">
          <div class="icon-nav icon-doc"></div>
          <div class="nav-title">User List</div>
        </div>
        <div class="nav-list flx-row pointer" *ngIf="isAdmin" [ngClass]="{'active': routeName === 'add-company'}" (click)="navigateTo('/add-company')">
          <div class="icon-nav icon-doc"></div>
          <div class="nav-title">Add Company</div>
        </div>
      </div>
      <div class="right-container">
        <router-outlet></router-outlet>
      </div>
      <div class="spinner" *ngIf="isSpinner"></div>
    </div>
  </div>
  <div class="footer-wrap f12 flx-row primary-color ">
    Copyright © 2018 Demo.
  </div>
</div>